html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: arial, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{margin:0;padding:0;}
html,body{height: 100%;width:100%;}
svg{
	display:block;
}
#contentDIV {
    width: 480px;
    position: fixed;
}
#controlDiv {
    margin-left: 480px;
    float: left;
    width: 404px;
}
#categoryDiv {
    float: left;
    width: 100%;
}
.category {
    width: 12.5%;
    font-size: 12px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #eaeaea;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
}
.category.select {
    color: #3585E0;
    border-bottom: 2px solid #3585E0;
    border-top: 2px solid #d0d0d0;
    background-color: #d0d0d0;
}
#pickerDiv {
    width: 100%;
    float: left;
}
.picker {
    float: left;
    border: 1px solid #C8D6C5;
    margin: 0 0 -1px -1px;
    width: 100px;
    height: 100px;
}
.picker.select {
    background-color: #C8D6C5;
}